* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 4px;
  line-height: 4px;
  color: #FFFFFF;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding: 0 calc(50% - 602px);
}

.top {
  padding-bottom: 493px;
  background: url(../img/top/1.png) center/cover no-repeat;
}
.top__description {
  padding-top: 217px;
  max-width: 760px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.description__title {
  font-weight: 700;
  font-size: 12rem;
  line-height: 14.75rem;
}
.description__title--bigger {
  font-size: 16rem;
  line-height: 19.5rem;
}
.description__text {
  font-weight: 300;
  font-size: 4.5rem;
  line-height: 8rem;
}
.description__text--short {
  max-width: 480px;
  padding-bottom: 12px;
}
.description__text--bolt {
  font-weight: 500;
}
.description__link {
  display: inline-block;
  background: #9C0332;
  border-radius: 30px;
  width: 234px;
  height: 47px;
  font-size: 4.5rem;
  line-height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.4s;
}
.description__link:hover {
  background: #EB443F;
}

.play {
  background: #000915;
  padding-top: 128px;
  padding-bottom: 128px;
}
.play__row {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.game {
  width: 380px;
  height: 300px;
  border-radius: 16px;
  padding: 32px;
  display: flex;
  align-items: end;
}
.game__game-1 {
  background: url(../img/plays/1.png) center/cover no-repeat;
}
.game__game-2 {
  background: url(../img/plays/2.png) center/cover no-repeat;
}
.game__game-3 {
  background: url(../img/plays/3.png) center/cover no-repeat;
}
.game__title {
  font-weight: 600;
  font-size: 6rem;
  line-height: 8rem;
}
.game:hover {
  border: 3px solid #44D2FF;
}

.seasons {
  background: #000915;
  padding-top: 233px;
  padding-bottom: 233px;
}
.seasons__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.seasons__description {
  align-self: center;
  max-width: 584px;
}
.seasons__img {
  max-width: 100%;
}

.remember {
  background: #000915;
  padding-top: 239px;
  padding-bottom: 239px;
}
.remember__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.remember__image {
  max-width: 488px;
}
.remember__img {
  width: 100%;
}
.remember__description {
  max-width: 588px;
  padding-top: 43px;
}

@media (max-width: 768px) {
  .center {
    padding: 0 16px;
  }
  .top {
    padding-bottom: 238px;
  }
  .top__description {
    padding-top: 238px;
  }
  .description__title {
    font-size: 8rem;
    line-height: 9.75rem;
    text-align: center;
    max-width: 343px;
    margin: 0 auto;
  }
  .description__text {
    max-width: 343px;
    margin: 0 auto;
    text-align: center;
    font-size: 3.5rem;
    line-height: 5.5rem;
  }
  .description__text--short {
    padding-bottom: 0;
  }
  .description__link {
    margin: 0 auto;
  }
  .play__row {
    padding-top: 128px;
    padding-bottom: 128px;
    justify-content: center;
  }
  .seasons {
    padding-top: 51px;
    padding-bottom: 85px;
  }
  .seasons__row {
    justify-content: center;
    gap: 64px;
  }
  .seasons__description {
    max-width: 343px;
    align-items: center;
  }
  .seasons__title {
    font-size: 8rem;
    line-height: 9.75rem;
  }
  .seasons__text {
    font-size: 3.5rem;
    line-height: 5.5rem;
    text-align: center;
  }
  .seasons__image {
    max-width: 344px;
  }
  .remember {
    padding-top: 51px;
    padding-bottom: 90px;
  }
  .remember__row {
    justify-content: center;
    gap: 64px;
  }
  .remember__description {
    padding: 0;
  }
  .remember__image {
    max-width: 344px;
  }
}