*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 4px;
	line-height: 4px;
	color: #FFFFFF;
}

body{
	font-family: 'Montserrat', sans-serif;
}

a{
	text-decoration: none;
}

.center{
	padding: 0 calc(50% - 602px);
}

.top {
	padding-bottom: 493px;
	background: url(../img/top/1.png) center/cover no-repeat;
	&__description{
		padding-top: 217px;
		max-width: 760px;
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
}

.description{
	&__title{
		font-weight: 700;
		font-size: 12rem;
		line-height: 14.75rem;
		&--bigger{
			font-size: 16rem;
			line-height: 19.5rem;
		}
	}
	&__text {
		font-weight: 300;
		font-size: 4.5rem;
		line-height: 8rem;
		&--short{
			max-width: 480px;
			padding-bottom: 12px;
		}
	}
	&__text--bolt {
		font-weight: 500;
	}
	&__link {
		display: inline-block;
		background: #9C0332;
		border-radius: 30px;
		width: 234px;
		height: 47px;
		font-size: 4.5rem;
		line-height: 5.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background .4s;
		&:hover{
			background: #EB443F;
		}
	}
}

.play {
	background: #000915;
	padding-top: 128px;
	padding-bottom: 128px;

	&__row {
		display: flex;
		gap: 32px;
		flex-wrap: wrap;
	}
}
.game{
	width: 380px;
	height: 300px;
	border-radius: 16px;
	padding: 32px;
	display: flex;
	align-items: end;
	&__game-1{
		background: url(../img/plays/1.png) center / cover no-repeat;
	}
	&__game-2{
		background: url(../img/plays/2.png) center / cover no-repeat;
	}
	&__game-3{
		background: url(../img/plays/3.png) center / cover no-repeat;
	}
	&__title {
		font-weight: 600;
		font-size: 6rem;
		line-height: 8rem;
	}
	&:hover{
		border: 3px solid #44D2FF;
	}
}

.seasons {
	background: #000915;
	padding-top: 233px;
	padding-bottom: 233px;
	&__row {
		display: flex;
		justify-content: space-between;
		}
	&__description {
		align-self: center;
		display: flex;
		flex-direction: column;
		gap: 32px;
		max-width: 584px;
		}
	&__img {
		max-width: 100%
		}
}

@import 'mobile';
